body {
    margin: 0;
    background: url('../img/main.png');
    height: 100vh;

}
header {
    /* position: fixed;
    z-index: 99; */
    background: white;
    width: 100%;
    height: 100px;
}
.container {
    height: 100px;
    width: 960px;
    margin: 0 auto;
}
nav {
    float: right;
}
.container > a {
    float: left;
    height: 100px;
    width: 200px;
    background: rgba(5, 150, 138, 0.767);
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main li {
    display: inline-block;
    padding-top: 45px;
    padding-left: 20px;
}
.main a {
    color: gray;
    text-decoration: none;
    margin-right: 5px;
}
.main > li +::after{
    content: "";
    border-right: 2px solid gray;
    height: 100%;

}

.main a:hover{
    background: rgb(6, 151, 120);
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.middle {
    width: 960px;
    height: 600px;
    margin: 0 auto;
}
.left {
    height: 500px;
    width: 650px;
    float: left;
    margin-top: 20px;
    background: white;
    
}

.right {
    height: 200px;
    width: 270px;
    background: white;
    float: right;
    margin-top: 20px;
}

footer {
    border-top: 10px solid rgba(5, 150, 138, 0.767);
    height: 100px;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.left_top {
    height: 100px;
    width: 100%;

}
.left_middle {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.left_bottom {
    height: 150px;
    width: 100%;

}

.left_top p {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 155, 160);
    /* margin-top: 20px;
    margin-left: 20px; */
    padding-top: 30px;
    padding-left: 20px;
}
img {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}
.left_middle p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1em;
    color: gray;
} 
.left_bottom p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.3em;
    color: gray;

}

.right p {
    display: inline-block;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 25px;
    color: rgb(7, 129, 145);
    border-bottom: 2px solid gray;
}
